.border{
    margin: 20px;
    border: solid 1px black;
}
.back{
    margin: 20px 20px 20px 20px;
    padding: 6px 5px 6px 6px;
    background-color: rgb(214, 215, 218);}
.green{
    background-color:green ;
    padding: 6px 35px 6px 6px;
    color: aliceblue;
}
.head{
    margin: 20px;
}
.yellow{
    color: aliceblue;
    background-color: rgb(255, 174, 0);
    padding: 6px 35px 6px 6px;
}
.orange{
    color: aliceblue;
    padding: 6px 35px 6px 6px;
    background-color: rgb(255, 102, 0);
}
.maroon{
    color: aliceblue;
    padding: 6px 35px 6px 6px;
    background-color: rgb(134, 6, 6);
}
.center{
    align-items: center;
}
table{
    margin: 20px;
}
form{
    margin: 20px;
}
.m{
    padding-right: 345px;
}
.bord{
    border:  rgb(214, 215, 218)};

